.cabecalho {
    text-align: center;
    margin: 6em auto;
}

.cabecalho__introducao {
    font-weight: 600;
    color: var(--vermelho);
}

.cabecalho__titulo {
    font-size: 48px;
    font-weight: 600;
    color: var(--cinza-escuro);
    margin: 1em 0;
}

.cabecalho__texto {
    font-size: 20px;
    font-weight: 400;
    width: 70%;
    margin: 0 auto;
}